
body {

	padding: 25px 15%;
	margin: 0 auto;
	text-align: center;
	background-color: black;
}	


.gems {
display: inline-block;

}

img {

height: 100px;
width: 100px;
padding: 10px;

}

.row {
 
}

.row .main {

}


.main-header {
	

}
.main {

	
	margin-top: 5px;
	padding: 0 auto;
}

.top {
	margin-top: 15px;
}


.main-header {
	
	text-align: center;
	font-size: 30px;
	color: white: ;
}

.gem-body  {
	width: 65%;
	margin: 0 auto;

}

.main-body {

	text-align: center;
	background-color: lightgray;
}

.main-body p {
	padding: 10px 0;
}

#game-message {
	color: red;
	font-size: 25px;
}

.result-body {
	display: none;
	text-align: center;
}



 #winTotal {
	background-color: lightblue;
	color: green;
}

#lossTotal {
	background-color: lightblue;
	color: red;
}

#scoreTotal {
	background-color: lightblue;

}

#random-number {
	background-color: darkblue;
	color: white;
}

#game-title h3 {
	background-color: darkorange:
	color: white
	font-size 30px;
}

#footer-green {
	background:darkgreen;
}

.panel-default>.panel-heading {
background-color: darkgreen;
	color: darkorange;
}

