.gems {
display: inline-block;

}

img {

height: 100px;
width: 100px;
padding: 10px;

}


.main {

	width: 60%;
	margin-top: 30px;
}

.main-header {

	text-align: center;
}

.gem-body  {
	width: 35%;
	margin: 0 auto;

}

.main-body {

	text-align: center;
}

.main-body p {
	padding: 10px 0;
}

#game-message {
	color: red;
	font-size: 25px;
}

.result-body {
	display: none;
	text-align: center;

}

